<div class="your-component-ssr-root" data-metafield="{{ product.metafields.namespace.key.value | json | escape }}" data-shop-settings="{{ shop.metafields.namespace.settings.value | json | escape }}" data-fallback="{{ product.default_data | json | escape }}"><div class="your-component"><div class="component-content">Content here</div></div></div>
